{%extends "layout.html" %}
{% block content %}
    <form name="passdata" action="{{ url_for('suggestions')}}", method="POST">
        <article class="media content-section">
            <div class="media-body">
                <h2 class="article-title">Bitcoin</h2>
                <p>The possible future price is: {{ predictionBtc }}</p>
            </div>
        </article>
        <article class="media content-section">
            <div class="media-body">
                <h2 class="article-title">Ethereum</h2>
                 <p>The possible future price is: {{ predictionEth }} </p>
            </div>
        </article>
        <article class="media content-section">
            <div class="media-body">
                <h2 class="article-title">Litecoin</h2>
                 <p>The possible future price is: {{ predictionLtc }}</p>
            </div>
        </article>
        <article class="media content-section">
            <div class="media-body">
                <h2 class="article-title">Neo</h2>
                 <p>The possible future price is: {{ predictionNeo }} </p>
            </div>
        </article>
    </form>
{% endblock content %}
